.container {
    background-color: rgba(179, 223, 195, 0.703);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: cursive;
    padding: 2%;
}

.socialNetworks{
    display: flex;
    align-items: center;
    gap: 5px;
}